<!-- Kasir -->
<div class="wrapper">
	<!-- Navigation Bar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">EasyResto</a>
			</div>
			<ul class="nav nav-justified">
				<li><a ui-sref="kasir">Pesanan</a></li>
				<li><a ui-sref="kasirMenu">Menu</a></li>
				<li><a ui-sref="kasirStatistik">Statistik</a></li>
				<li><a ui-sref="login">Logout</a></li>
			</ul>
		</div>
	</nav> <!-- Navigation Bar Close -->
	
	<!-- Types of Pesanan -->
	<div class="container-fluid">
<!--
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h1 class="text-center">Pesanan</h1>
			</div>
		</div>
		<nav class="navbar navbar-default text-center">
			<div class="container-fluid">
				<ul class="nav nav-justified">
					<li>
						<a href="#"><h2>Active</h2></a>
					</li>
					<li>
						<a href="#"><h2>Past</h2></a>
					</li>
				</ul>
			</div>
		</nav>
-->
		
		<div class="panel-group" id="listPesanan">
			<!-- Iterasi per pesanan -->
			<div class="panel panel-default" ng-repeat="x in pesanan" ng-init="parentIndex = $index; total = x.totalHarga">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#listPesanan" data-target="#panelPesanan-{{$index}}">
							<div class="row">
								<div class="col-lg-1">
									{{$index+1}}
								</div>
								<div class="col-lg-4">
									Pesanan-{{x.id}}
								</div>
								<div class="col-lg-4">
									Meja-{{x.meja[0].id}}
								</div>
								<div class="col-lg-3">
									{{x.tanggalBuat | limitTo: 19}}
								</div>
							</div>
						</a>
					</h4>
				</div>
				<div id="panelPesanan-{{$index}}" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-9">
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>No.</th>
												<th>Item</th>
												<th>Quantity</th>
												<th>Subtotal</th>
											</tr>
										</thead>
										<!-- Iterasi item di pesanan -->
										<tbody>
											<tr ng-repeat="y in pesanan[parentIndex].items">
												<td>{{$index + 1}}</td>
												<td>{{y.nama}}</td>
												<td>{{y.ItemPesanan.count}}</td>
												<td>{{y.harga * y.ItemPesanan.count}}</td>
											</tr> <!-- Iterasi Close -->
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-lg-3">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="totalHarga" class="control-label col-lg-3">Total</label>
										<p id="totalHarga" class="form-control-static col-lg-9">{{total}}</p>
									</div>
									<div class="form-group">
										<label for="totalBayar" class="control-label col-lg-3">Jumlah Bayar</label>
										<div class="col-lg-9">
											<input id="totalBayar" type="number" class="form-control" ng-model="jumlahBayar" ng-init="jumlahBayar=0">
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-6 col-lg-offset-3 text-center">
											<input type="button" class="btn btn-default" ng-disabled="jumlahBayar < total" ng-click="bayar()" value="Bayar">
										</div>
									</div>
									<div class="form-group">
										<label for="kembalian" class="control-label col-lg-3">Kembalian</label>
										<p id="kembalian" class="form-control-static col-lg-9">{{jumlahBayar - total}}</p>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-lg-2">
								<p>Total</p>
							</div>
							<div class="col-lg-2 col-lg-offset-7 text-right">
								<p>180.000</p>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- Iterasi Close -->
		</div>
	</div>
</div>
