<!-- Menu -->
<div class="wrapper">
	<!-- Navigation Bar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">EasyResto</a>
			</div>
			<ul class="nav nav-justified">
				<li><a ui-sref="kasir">Pesanan</a></li>
				<li><a ui-sref="kasirMenu">Menu</a></li>
				<li><a ui-sref="kasirStatistik">Statistik</a></li>
				<li><a ui-sref="login">Logout</a></li>
			</ul>
		</div>
	</nav> <!-- Navigation Bar Close -->

	<div class="container-fluid">
		<div class="row text-center">
			<h1>Daftar Menu</h1>
			<hr>
		</div>
		<div class="row text-center">
			<div class="col-sm-12">
				<h4>
					<button type="button" class="btn btn-default btn-block btn-lg" ng-click="showMenu()">
						<span class="glyphicon glyphicon-plus"></span> Tambah Menu
					</button>
				</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<form class="form-inline" ng-show="isShown">
					<div class="form-group">
						<label for="nama" class="control-label">Nama</label>
						<input id="nama" type="text" class="form-control" ng-model="singleMenu.nama">
					</div>
					<div class="form-group">
						<label for="harga" class="control-label">Harga</label>
						<input id="harga" type="number" class="form-control" ng-model="singleMenu.harga">
					</div>
					<div class="form-group">
						<button class="btn btn-default" ng-click="addMenu(singleMenu)">
							Tambah
						</button>
					</div>
				</form>
			</div>
		</div>

		<br>

		<div class="table-responsive">
			<table class="table table-hover bg-white table-striped">
				<thead>
					<tr>
						<th>No.</th>
						<th>Nama</th>
						<th>Harga</th>
						<th>Hapus</th>
					</tr>
				</thead>
				<!-- Iterasi item di menu -->
				<tbody>
					<tr ng-repeat="x in menu">
						<td>{{$index + 1}}</td>
						<td>{{x.nama}}</td>
						<td>{{x.harga | currency:'Rp':0}}</td>
						<td>
							<button type="button" class="btn btn-default" ng-click="deleteMenu(x.id)">
								<span class="glyphicon glyphicon-remove"></span> Hapus
							</button>
						</td>
					</tr> <!-- Iterasi Close -->
				</tbody>
			</table>
		</div>
	</div>
</div>
