<!-- Navigation Bar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">EasyResto</a>
		</div>
		<ul class="nav nav-justified">
			<li><a ui-sref="kasir">Pesanan</a></li>
			<li><a ui-sref="kasirMenu">Menu</a></li>
			<li><a ui-sref="kasirStatistik">Statistik</a></li>
			<li><a ui-sref="login">Logout</a></li>
		</ul>
	</div>
</nav> <!-- Navigation Bar Close -->

<!-- Statistik -->
<div class="container">
	<form class="form-inline" role="form">
		<div class="col-sm-1"></div>
		<div class="form-group col-sm-3">
			<label for="jenisStatistik" class="control-label">Jenis Statistik</label>
			<select class="form-control" id="jenisStatistik"
				ng-change="filterStatistikBy(statistikOptions.filter.selected)"
				ng-model="statistikOptions.filter.selected"
				ng-options="option.value as option.name for option in statistikOptions.filter.availableOptions">
			</select>
		</div>
		<div class="form-group col-sm-3" ng-hide="statistikOptions.filter.selected === 'hari'">
			<label for="tanggalAwal" class="control-label">Sejak</label>
			<input id="tanggalAwal" type="date" class="btn btn-default"	required
				ng-model="statistikOptions.startDate"
				ng-change="setStartDate(statistikOptions.startDate)"
			/>
		</div>
		<div class="form-group col-sm-3">
			<label for="tanggalAkhir" class="control-label">Hingga</label>
			<input id="tanggalAkhir" type="date" class="btn btn-default" required
				ng-model="statistikOptions.endDate"
				ng-change="setEndDate(statistikOptions.endDate)"
			/>
		</div>
	</form>
	<br/>

	<!-- Chart Statistik -->
	<div class="col-sm-offset-1 col-sm-10 bg-white" style="margin-top: 10px">
		<canvas id="chartStatistik" class="chart chart-bar"
			chart-data="statistik.data"
			chart-labels="statistik.labels">
		</canvas>
	</div>
</div>
