<!DOCTYPE HTML>
<html lang="en" ng-app="easyResto" ng-controller="pelayanController">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8">
		<title>{{pageTitle}}</title>
		<!-- Library -->
		<link rel="stylesheet" href="libs/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />
		<!-- Stylesheet -->
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		
		<script src="libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
		<script src="libs/jquery/jquery/dist/jquery.js"></script>
		
		<script src="libs/angular.js"></script>
		<script src="libs/angular-ui-router.js"></script>
		<script src="libs/angular-basicauth-lib/angular-basicauth.js"></script>
		<script src="libs/angular-basicauth-lib/angular-basicauth.js"></script>
		<script src="libs/angular-base64-lib/angular-base64.js"></script>
		<script src="libs/angular-local-storage-lib/dist/angular-local-storage.js"></script>

		<script src="js/app.js"></script>

		<script src="js/services/pesananService.js"></script>
		<script src="js/services/mejaService.js"></script>
		
		<script src="js/controllers/pelayanController.js"></script>

	</head>
	<body>
		<!-- Pelayan -->
		<div class="wrapper">
			<!-- Navigation Bar -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">EasyResto</a>
					</div>
					<ul class="nav nav-justified">
						<li><a href="#">Logout</a></li>
					</ul>
				</div>
			</nav> <!-- Navigation Bar Close -->
			
			<!-- Types of Pesanan -->
			<div class="container-fluid">
<!--
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
						<h1 class="text-center">Pesanan</h1>
					</div>
				</div>
				<nav class="navbar navbar-default text-center">
					<div class="container-fluid">
						<ul class="nav nav-justified">
							<li>
								<a href="#"><h2>Active</h2></a>
							</li>
							<li>
								<a href="#"><h2>Past</h2></a>
							</li>
						</ul>
					</div>
				</nav>
-->
				
				<div class="row text-center">
					<h2>
						Olah Pesanan
					</h2>
				</div>
				
				<!-- Form Row -->
				<div class="row">
					<div class="col-lg-12">
						<form class="form-horizontal">
							<div class="form-group text-center">
								<label for="jenisPesanan" class="control-label col-lg-2">Jenis</label>
								<div class="col-lg-10">
									<select id="jenisPesanan" class="form-control" ng-model="jenisPesanan">	
										<option value="makan_di_tempat">Makan di tempat</option>
										<option value="bawa_pulang">Bawa pulang</option>
									</select>
								</div>
							</div>
							
							<div class="form-group text-center" ng-show="jenisPesanan == 'makan_di_tempat'">
								<label for="mejaPesanan" class="control-label col-lg-2">Meja</label>
								<div class="col-lg-10">
									<select id="mejaPesanan" class="form-control">
										<option value="x.id" ng-repeat="x in meja">{{x.id}}</option>
									</select>
								</div>
							</div>
							
							<div class="form-group text-center">
								<label class="control-label">Menu</label>
							</div>
							<div class="form-group" ng-repeat="x in menu">
								<label for="menu-{{$index}}" class="control-label col-lg-2">{{x.nama}}</label>
								<div class="col-lg-10">
									<input id="menu-{{$index}}" type="number" class="form-control">
								</div>
							</div>
							
							<div class="form-group text-center">
								<button class="btn btn-default">
									<span class="glyphicon glyphicon-plus"></span> Olah Pesanan
								</button>
							</div>
						</form>
					</div>
				</div> <!-- Form Row -->
			</div>
		</div>
	</body>
</html>


