<!-- Koki -->
<div class="wrapper">
	<!-- Navigation Bar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">EasyResto</a>
			</div>
			<ul class="nav navbar-right">
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</nav> <!-- Navigation Bar Close -->
	
	<div class="container-fluid">				
		<div class="panel-group" id="listPesanan">
			<!-- Iterasi per pesanan -->
			<div class="panel panel-default" ng-repeat="x in pesanan" ng-init="parentIndex = $index; total = x.totalHarga">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#listPesanan" data-target="#panelPesanan-{{$index}}">
							<div class="row">
								<div class="col-lg-1">
									{{$index+1}}
								</div>
								<div class="col-lg-4">
									Pesanan-{{x.id}}
								</div>
								<div class="col-lg-4">
									Meja-{{x.meja[0].id}}
								</div>
								<div class="col-lg-3">
									{{x.tanggalBuat | limitTo: 19}}
								</div>
							</div>
						</a>
					</h4>
				</div>
				<div id="panelPesanan-{{$index}}" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Item</th>
												<th>Quantity</th>
												<th>Subtotal</th>
												<th>Status</th>
											</tr>
										</thead>
										<!-- Iterasi item di pesanan -->
										<tbody>
											<tr ng-repeat="y in pesanan[parentIndex].items">
												<td>{{y.nama}}</td>
												<td>{{y.ItemPesanan.count}}</td>
												<td>{{y.harga * y.ItemPesanan.count}}</td>
												<td>
													<button class="btn btn-default" ng-click="">
														<span class="glyphicon glyphicon-check"></span>
													</button>
												</td>
											</tr> <!-- Iterasi Close -->
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- Iterasi Close -->
		</div>
	</div>
	<footer class="footer">
		<div class="container-fluid">
			<button class="btn btn-success btn-block center-block">Panggil Pelayan</p>
		</div>
	</footer>
</div>
