<!-- Koki -->
<div class="wrapper">
	<!-- Navigation Bar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a class="navbar-brand" ui-sref="koki">EasyResto: Koki</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-right">
					<li class="text-right"><a ui-sref="login">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav> <!-- Navigation Bar Close -->

	<div class="container-fluid">
			<!-- Iterasi per pesanan -->
			<div class="text-center" ng-show="pesanan.length === 0">Tidak ada pesanan yang perlu diproses.</div>
			<div class="panel panel-default" ng-repeat="x in pesanan" ng-init="parentIndex = $index; total = x.totalHarga">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#listPesanan" data-target="#panelPesanan-{{$index}}">
							<div class="row">
								<div class="col-xs-3">
									Meja #{{x.meja[0].id}}
								</div>
								<div class="col-xs-4">
									Pkl. {{x.tanggalBuat | date:'hh:mm'}}
								</div>
								<div class="col-xs-5">
									<span class="label label-danger" ng-show="x.status === 'belum_diproses'">{{getStatusText(x.status)}}</span>
									<span class="label label-warning" ng-show="x.status === 'sedang_dimasak'">{{getStatusText(x.status)}}</span>
									<span class="label label-info" ng-show="x.status === 'sudah_lengkap'">{{getStatusText(x.status)}}</span>
									<span class="label label-success" ng-show="x.status === 'lunas'">{{getStatusText(x.status)}}</span>
								</div>
							</div>
						</a>
					</h4>
				</div>
				<div id="panelPesanan-{{$index}}" class="panel-collapse collapse in">
					<div class="panel-body">
						<button class="btn btn-warning btn-block" ng-show="x.status === 'belum_diproses'" ng-click="updateStatusPesanan(x, 'sedang_dimasak')" style="margin-bottom: 10px">
							<span class="glyphicon glyphicon-check"></span> Ubah menjadi: Sedang Dimasak
						</button>
						<div class="row">
							<div class="col-xs-12">
								<div class="table-responsive">
									<table class="table table-hover table-striped">
										<thead>
											<tr>
												<th>Item</th>
												<th>Quantity</th>
											</tr>
										</thead>
										<!-- Iterasi item di pesanan -->
										<tbody>
											<tr ng-repeat="y in pesanan[parentIndex].items">
												<td>{{y.nama}}</td>
												<td>{{y.ItemPesanan.count}}</td>
											</tr> <!-- Iterasi Close -->
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<button class="btn btn-info btn-block" ng-show="x.status === 'sedang_dimasak'" ng-click="updateStatusPesanan(x, 'sudah_lengkap')">
							<span class="glyphicon glyphicon-check"></span> Ubah menjadi: Sudah Lengkap
						</button>
					</div>
				</div>
			</div> <!-- Iterasi Close -->
	</div>
	<!-- <footer class="footer">
		<div class="container-fluid">
			<button class="btn btn-success btn-block center-block btn-lg"><strong>PANGGIL PELAYAN</strong></button>
		</div>
	</footer> -->
</div>
